body {
	background-image: url("snow.jpg");
	background-size: 200%;
}

header {
	padding-bottom: 20px;
}

h1 {
	font-color: #FFFFFF;
	font-size: 40px;
	text-align: center;
	font-family: Helvetica, Arial, sans-serif;
	font-weight: bold;
}

p {
	text-align: center;
	color: white;
	font-family: "Trebuchet MS", Helvetica, sans-serif;
}

section {
    margin: 30px;
    background-color: #000000;
    border: 1px solid black;
    opacity: 0.72;
    filter: alpha(opacity=60);
    text-align: center;
    font-size: 23px;
    border-radius: 10px;
}


section[type=button] {
	text-align:center;
}

.feedback {
	text-align: center;
	vertical-align: middle;
	line-height: 50px;
	padding-bottom: 30px; 
}

.choice {
	padding-bottom: 30px;
}

input {
	width: 100px;
	height: 50px;
	border-radius: 10px;
	outline: none;
	font-size: 23px;
	text-align: center;

}

button {
	-moz-box-shadow: 0px 1px 0px -1px #1c1b18;
	-webkit-box-shadow: 0px 1px 0px -1px #1c1b18;
	box-shadow: 0px 1px 0px -1px #1c1b18;
	background-color:#ffffff;
	-moz-border-radius:10px;
	-webkit-border-radius:10px;
	border-radius:10px;
	border:2px solid #333029;
	display:inline-block;
	cursor:pointer;
	color:black;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:12px 16px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
	outline: none;
}
button:hover {
	background-color:#fafafa;
}
button:active {
	position:relative;
	top:1px;
}